
<form action="" class="max-w-5xl mx-auto mt-6">
  <span class=" text-2xl font-semibold text-bleudark">Edit Utilisateur</span>
  <div class="flex">
      <input type="text" placeholder="Nom" class="border mt-3 mb-3 w-1/2 py-2 pl-3 border-neutral-200 rounded-md mr-3">
      <input type="text" placeholder="Prenom" class="border mt-3 mb-3 w-1/2 py-2 pl-3 border-neutral-200 rounded-md">
  </div>
  <div class="flex">
    <input type="text" placeholder="Email" class="border mt-3 mb-3 w-1/2 py-2 pl-3 border-neutral-200 rounded-md mr-3">
    <input type="text" placeholder="Password" class="border mt-3 mb-3 w-1/2 py-2 pl-3 border-neutral-200 rounded-md">
</div>
<div class="flex">
  <input type="text" placeholder="Telephone" class="border mt-3 mb-3 w-1/2 py-2 pl-3 border-neutral-200 rounded-md mr-3">
  <select class="border mt-3 mb-3 w-1/2 py-2 pl-3 border-neutral-200 bg-white rounded-md mr-3">
    <option value="">Role</option>
    <option value="">Responsables</option>
    <option value="">Participants</option>
  </select>
  <select class="border mt-3 mb-3 w-1/2 py-2 pl-3 border-neutral-200 bg-white rounded-md">
    <option value="">Etat</option>
    <option value="">Active</option>
    <option value="">désactive</option>
  </select>
</div>

<div class="flex">
  <input type="text" placeholder="Domaine" class="border mt-3 mb-3 w-1/2 py-2 pl-3 border-neutral-200 rounded-md mr-3">
  <input type="text" placeholder="Structure" class="border mt-3 mb-3 w-1/2 py-2 pl-3 border-neutral-200 rounded-md mr-3">
  <select class="border mt-3 mb-3 w-1/2 py-2 pl-3 border-neutral-200 bg-white rounded-md">
    <option value="">Type</option>
    <option value="">Formateur</option>
    <option value="">Intervenant</option>
  </select>
</div>
<button class=" bg-mainbleu text-mainbg mt-3 px-8 py-2 rounded-md hover:bg-blue-700">Edit Utilisateur</button>
</form>
