
<form action="" class="max-w-5xl mx-auto mt-6">
  <span class=" text-2xl font-semibold text-bleudark">Add Exercice</span>
  <div class="flex">
      <input type="text" placeholder="Title" class="border mt-3 mb-3 w-1/2 py-2 pl-3 border-neutral-200 rounded-md mr-3">
      <input type="text" placeholder="Status" class="border mt-3 mb-3 w-1/2 py-2 pl-3 border-neutral-200 rounded-md">
  </div>
  <div class="flex">
    <input type="text" placeholder="Year" class="border mt-3 mb-3 w-1/2 py-2 pl-3 border-neutral-200 rounded-md mr-3">
    <input type="text" placeholder="Activite" class="border mt-3 mb-3 w-1/2 py-2 pl-3 border-neutral-200 rounded-md">
</div>
<div class="flex">
  <input type="date" placeholder="Start date" class="border mt-3 mb-3 w-1/2 py-2 pl-3 border-neutral-200 rounded-md mr-3">
  <input type="date" placeholder="End date" class="border mt-3 mb-3 w-1/2 py-2 pl-3 border-neutral-200 rounded-md">
</div>

<button class=" bg-mainbleu text-mainbg mt-3 px-8 py-2 rounded-md hover:bg-blue-700">Add Exercice</button>
</form>
